{% extends "img_app/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  
  
{% block head %}
	{{block.super}}
	<title>Error - rushview</title>
	<meta name="description" content="rushview gives you an easy way to quickly browse all of a celebrities photos, an artist's gallery, or media matching a keyword search.">
	<link rel="stylesheet" type="text/css" href="{% static 'img_app/about.css' %}">
	
{% endblock %}




{% block sidebar %}
<div class='info'>
	<h1>Error Message</h1>
	{% if error_message %}
	
		<p>{{error_message}}</p>
		
	{% endif %}
</div>






{% endblock sidebar %}

{% block posts %}{% endblock posts %}

