{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="https://kit.fontawesome.com/284d03bb54.js" crossorigin="anonymous"></script>
		<title>Rushview</title>
		<meta name="description" content="Quickly browse Twitter media.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'img_app/index.css' %}">	
		<link rel="icon" href="{% static 'img_app/favicon.png' %}" type="image/png">
	</head>

  <body>
	<header id="top">
			<div class = "about">
				<a href ="{% url 'img_app:about' %}" >About</a>
				<a href ="{% url 'img_app:search-help' %}" >Search-help</a>
			</div>
	
	</header> 
	<div class = 'container'>
		<h1>Quickly browse twitter media</h1>
		
		{% if not authenticated %}
			<div class = 'authenticate'>		
				<a href="{% url 'img_app:authenticate' %}"><strong>NOTE: Authorize Rushview to use its features.</strong></a>
			</div>		
		{% endif %}
		
		<div class = 'main-search'>
			<div class = 'username-container'>

				<form action = "{% url 'img_app:post_redirect' %}" method="post">
					{% csrf_token %} 
					
					<div class = "input-section">
							<button type="submit"><i class="fas fa-search"></i></button><input type = "text" name="artist_name" id="artist_name" placeholder="Search by @Username">
					</div>

				</form>	
			</div>
			
			
			<div class = 'inner-container'>
				<form action = "{% url 'img_app:post_redirect' %}" method="post">
					{% csrf_token %} 
					<div class = "input-section">
						<button type="submit"><i class="fas fa-search"></i></button><input type = "text" name="query" id="query" placeholder="General Search">
					</div>
				</form> 
			</div>
		</div>
		

		<!-- <h2>Quickly browse twitter media</h2> -->
  </div>
  </body>
</html>


